*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}

html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    touch-action:manipulation;

    font-family:sans-serif;
}

/* ゲーム全体 */

#game{

    width:100vw;
    height:100dvh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#000;
}

/* スマホ比率 */

#background{

    position:relative;

    width:min(100vw,56.25vh);
    height:min(177.78vw,100dvh);

    background:#bde8ff;

    overflow:hidden;
}

/* キャラクター */

#character{

    position:absolute;

    left:50%;
    top:42%;

    transform:translate(-50%,-50%);

    width:38%;
    aspect-ratio:1/1;

    background:white;

    border:4px dashed #555;

    border-radius:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:18px;
}

/* ボタン */

#menu{

    position:absolute;

    bottom:4%;

    left:50%;

    transform:translateX(-50%);

    width:92%;

    display:flex;

    justify-content:space-between;
}

.menuButton{

    width:31%;
    aspect-ratio:1/1.15;

    border:none;

    border-radius:18px;

    background:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:10px;

    font-size:15px;

    font-weight:bold;

    box-shadow:0 4px 10px rgba(0,0,0,.2);

    cursor:pointer;
}

.menuButton:active{

    transform:scale(.96);
}

.icon{

    width:55%;

    aspect-ratio:1/1;

    border:3px dashed gray;

    border-radius:12px;

    display:flex;
}
/*=========================
    上部エリア
=========================*/

#statusArea{

    position:absolute;

    top:3%;
    left:50%;

    transform:translateX(-50%);

    width:92%;

    display:flex;

    align-items:center;

    gap:12px;
}

/* ステータスバー */

#statusBar{

    position:relative;

    flex:1;

    height:80px;
}

/* 後で画像になる部分 */

.statusBarImage{

    position:absolute;

    inset:0;

    border:3px dashed #666;

    border-radius:18px;

    background:#eee;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#666;

    font-size:20px;
}

/* 名前と数字 */

.statusContent{

    position:absolute;

    inset:0;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 24px;

    pointer-events:none;
}

.statusName{

    font-size:22px;

    font-weight:bold;
}

.statusNumber{

    width:60px;

    height:42px;

    border:2px dashed #888;

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

    font-weight:bold;
}

/* バーガーメニュー */

#menuButton{

    width:60px;

    height:60px;

    border:none;

    border-radius:18px;

    background:white;

    box-shadow:0 4px 8px rgba(0,0,0,.2);

    font-size:34px;

    font-weight:bold;

    cursor:pointer;
}

#menuButton:active{

    transform:scale(.95);
}
